@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #EEE, #AAA);
  overflow: hidden;
}

.error-container {
  text-align: center;
  color: #333;;
  font-family: 'Courier New', Courier, monospace;
}

.error-number {
  font-size: 9rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.message h1 {
  margin-bottom: 20px;
}

.message p {
  margin-bottom: 20px;
}

.outlined-button {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid #333; /* Primary color for border */
  color: #333; /* Same as border for consistency */
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}

.outlined-button:hover {
  transform: scale(1.05); /* Slightly enlarge button */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.outlined-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); /* Focus ring for accessibility */
}
