@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-gradient);
  overflow: hidden;
  transition: background 0.3s;
}

/* Dark theme variables (default) */
body.dark-theme {
  --bg-gradient: linear-gradient(to bottom right, #0d1016, #1f2633);
  --text-color: #eee;
}

/* Light theme variables */
body.light-theme {
  --bg-gradient: linear-gradient(to bottom right, #eee, #aaa);
  --text-color: #333;
}

.error-container {
  text-align: center;
  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
}

.error-number {
  font-size: 9rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.message h1 {
  margin-bottom: 20px;
}

.message p {
  margin-bottom: 20px;
}

.outlined-button {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}

.outlined-button:hover {
  transform: scale(1.05);
}
